@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Grids used in the Costume Expressions Front Page
   Author: Ryan Wahl
   Date:   10.24.18
   
   Filename: ce_grids.css

*/


/* Grid Rows Styles */
/* All divs with a row eclass */
div.row {
    /* Sets the width to 100% */
    width: 100%;
    /* Clears the element of both margins. */
    clear: both;
}

/* Exapands the row to cover all of it's content. */
div.row::after {
    clear: both;
    content: "";
    display: table;
}



/* Grid Columns Styles */
/* Selects all divs that have a class that starts with "column" */
div[class^="column"] {
    /* Float the the left margin */
    float: left;
}

/* format of class names are column%n where %n is the width% without the % sign.
All divs with a class of column100 */
div.column100 {
    width: 100%;
}

div.column50 {
    width: 50%;
}

div.column33 {
    width: 33%;
}

div.column67 {
    width: 67%;
}

div.column25 {
    width: 25%;
}

div.column75 {
    width: 75%;
}

div.column20 {
    width: 20%;
}

div.column40 {
    width: 40%;
}

div.column60 {
    width: 60%;
}

div.column80 {
    width: 80%;
}

/* Grid Spacing Styles */
/* Sets the box siting to border box. */
div.container,
div.row,
div[class^="column"],
div.cell,
div.cell a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}